/* fix sidebar collapse */
.sidebar-nav ul.children ul.children a::before {
  content: '# ';
  color: #ccc;
}
.sidebar-nav > ul > li > ul.children > li > .section-link {
  font-weight: bold;
}

.sidebar-nav > ul > li > a {
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
}

/* .sidebar-nav ul.children ul.children {
  display: none;
} */
/* .sidebar-nav li.target + li > .children {
  display: block; 
} */

/* .sidebar-nav > ul > ul > ul {
  display: none;
}

.active ~ ul {
  display: block !important;
} */

/* fix font size */
h1 {
  font-size: 1.6rem !important;
  border-bottom: 1px solid #ddd;
  margin-top: 70px !important;
  padding-bottom: 10px;
}
h1 + h2 {
  margin-top: 0 !important;
}
h2 {
  font-size: 1.4rem !important;
  border-bottom: 1px solid #ddd;
  margin-top: 65px !important;
  padding-bottom: 10px;
}
h3 {
  font-size: 1.2rem !important;
  margin-top: 0 !important;
}
h3::before {
  content: '# ';
  color: var(--theme-color,#42b983);
}
h4 {
  font-size: 1.0rem !important;
  margin-top: 0 !important;
}

